html, body {
    margin: 0;
    padding: 0;
}
.Tareitas {
    background-color: rgb(255, 255, 255);
    position: relative;
    margin-left: 7px;
}
#Imagensita {
    text-align: center;
   margin: auto;
}
ul {
    padding:0px;
    margin: auto;


}
h1 {
    text-align: center;
}

li {
    list-style-type: none;
    position: relative;
    margin: 2px;
    padding: 0.5em 0.5em 0.5em 2em;
    background: #87CEEB;
    font-family: sans-serif;
}

li div {
    display:none;
    float:right;
}

li div span {
    margin-left:10px;
    background-color:#808080;
    padding:3px 8px;
    border-radius: 8px;
    color:#fff;
    cursor:pointer;
}

li:hover div {display:inline;}

li.ok {
    background: #CCFF99;
}

li.ok::before {
    content: '';
    position: absolute;
    border-color: #009933;
    border-style: solid;
    border-width: 0 0.3em 0.25em 0;
    height: 1em;
    top: 1.3em;
    left: 0.6em;
    margin-top: -1em;
    transform: rotate(45deg);
    width: 0.5em;
}

li.ko {
    background: #FF9999;
}

li.ko::before {
    content: 'X';
    position: absolute;
    font-size:1.3em;
    font-weight:bold;
    color: #009959;
    height: 1em;
    top: 1.3em;
    left: 0.4em;
    margin-top: -1em;
    width: 0.5em;
}

#titleBar {
    background: rgb(114, 111, 111);
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 20px;
}

#titleBar > .title{
    font-size: 12px;
    -webkit-app-region: drag;
}

.btnAction {
    width: 20px;
    height: 20px;
    border: none;
    background-color: transparent;
}

#minimizeBtn{
    background-image: url(Imagenes/Minimizar.png);
    background-size: contain;
}

#maximizeBtn{
    background-image: url(Imagenes/Maximizar.png);
    background-size: contain;


}

#closeBtn{
    background-image: url(Imagenes/Close.png);
    background-size: contain;


}
#showHideMenus{
    background-image: url(Imagenes/MenuIcon4.png);
    background-size:contain ;
}

#app{
    list-style: none;
    padding: 0;
    background: #092327;
    width: 90%;
    max-width: 1000px;
    margin:auto;
}
#title {
    margin-left: 300px;
}
